{% extends 'base.html.twig' %}

{% block title %} Modifier l'annonce  {% endblock %}

{% form_theme myForm 'vente/_collection.html.twig' %}

{% block body %}
    <div class="container">
    
        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-primary">Modifier</button>

        {{form_end(myForm)}}
    
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/new.js"></script>
{% endblock %}