{% extends 'base.html.twig' %}

{% block title %} Création d'une annonce{% endblock %}

{% form_theme myForm 'vente/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Création d'une nouvelle annonce</h1>

        {{ form_start(myForm)}}

        {{ form_widget(myForm)}}
            <button type="submit" class="btn btn-primary">Création d'une annonce</button>
        {{ form_end(myForm)}}

    </div>

{% endblock %}

{% block _annonce_images_widget %}

    <p>ici, vous pouvez ajouter vos propres images</p>
    {{ form_widget(form) }} {#Si on veut ajouter un élément comme un bouton #}
    <input type="hidden" id="widget-counter" value="0"> 
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/new.js"></script>
{% endblock %}